<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/public/css/bank-icon.ico">
	<title>Banking-App</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />

</head>
<body>

	<div class="container">
      <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-left">
                <h3 class="text-muted"><i class="fa fa-university" aria-hidden="true"></i>Banking-App</h3>
            </ul>
          <ul class="nav nav-pills pull-right">

            {{#if user}}


                        <li role="presentation"><a href="/grafico"style="color: #207728" ><i class="fa fa-line-chart" aria-hidden="true"></i>
                            Grafico</a></li>

                        <li role="presentation"><a href="/users/show" style="color: #207728"><i class="fa fa-table" aria-hidden="true"></i>
                            Mostra movimenti</a></li>
                        <li role="presentation"><a href="/users/pay" style="color: #207728"><i class="fa fa-money" aria-hidden="true"></i>
                            Pagamento</a></li>

                        <li role="presentation"><a href="/" style="color: #207728"><i class="fa fa-home" aria-hidden="true"></i>
                            Homepage</a></li>
                        <li role="presentation"><a href="/users/logout" style="color: #207728"><i class="fa fa-sign-out" aria-hidden="true"></i>Esci</a></li>



            {{else}}
              <li role="presentation"><a href="/users/login" style="color: #207728" ><i class="fa fa-sign-in" aria-hidden="true"></i>
                  Accedi</a></li>
              <li role="presentation"><a href="/users/register" style="color: #207728" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i>

                  Registrati</a></li>
            {{/if}}
          </ul>

        </nav>

      </div>


      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
          {{{body}}}
        </div>

        
      </div><br>

      <footer class="footer" align="center">
           <a href="https://www.facebook.com/rokketta.brioblu" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i>
           </a> -

          <i class="fa fa-university" aria-hidden="true"> -</i>

          <a href="mailto:rokketta93@hotmail.it" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i>
          </a>
        <p>&copy; 2017 Mattia Rocco</p>
      </footer>

    </div>
</body>
</html>
