<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/html">

<head>

    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        //stampa report
        $("#btnPrint").live("click", function () {
            var divContents = $("#dvContainer").html();
            var printWindow = window.open('', '', 'height=500,width=800');
            printWindow.document.write('<html><head><title>Report movimenti</title>');
            printWindow.document.write('</head> <div align="center"> <img src="http://www.bankopening.co.uk/img/logo.png" alt="..." width="80px" class="img-responsive" ><h3>Movimenti bancari</h3></div> <body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body> </html>');
            printWindow.document.close();
            printWindow.print();
        });
    </script>

</head>
<body>
<h1>Ecco i tuoi movimenti bancari</h1>
<div align="left">

    <section class="get">
        <h3>Risultati</h3>

        <a href="/users/show">Aggiorna</a><br><br>
    </section>
</div>

    <div class="container" align="center" id="dvContainer">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID movimento</th>
                <th>Tipo operazione</th>
                <th>Mese</th>
                <th>Nome mittente</th>
                <th>Nome destinatario</th>
                <th>Importo</th>
            </tr>

            </thead><br>
            {{# each items }}
                <tbody>
                <tr>
                    <td>{{ this.ID}}</td>
                    <td>{{ this.tipo}}</td>
                    <td>{{ this.mese}}</td>
                    <td>{{ this.nomemit}}</td>
                    <td>{{ this.nomedes}}</td>
                    <td>{{ this.importo}}€</td>
                </tr>
                </tbody>
            {{/each}}
        </table>
    </div><br>

<form id="form1">
    <input type="button" value="Stampa Report " id="btnPrint" />
</form>

</body>

</html>