<!DOCTYPE html>
<html lang="it">
<head>

</head>
<body>
    <section>
        {{# each items}}
            <h2>Ciao {{ this.name}}!
        {{/each}}
    </h2><br><a href="/users/insert">Completa i dati del tuo profilo</a>
    </section>
<div align="left">
    <label>
        <h3>Dettagli account</h3>
        {{# each items}}
            <td> Nome: {{ this.name}}</td><br>
            <td> Cognome: {{ this.cognome}}</td><br>
            <td> Data di nascita:{{ this.data}}</td><br>
            <td> Luogo di nascita:{{ this.luogo}}</td><br>

            <td> Residenza:{{ this.residenza}} </td><br>
            <td> C.F.:{{ this.codice}}</td><br>

        {{/each}}




    </label>


</div>

<br>
    <div align="left">
        <label>
            <h3>Dettagli finanziari</h3>
{{# each items}}
            <td> Saldo:{{ this.saldo}}</td><br>
    {{/each}}


        </label>
    </div>


</body>
<br><br><br><br>
</html>