<!DOCTYPE html>
<html lang="it">







<!--
<section class="get">
    <h3>Risultati</h3>
    <a href="/get-mov">Aggiorna</a><br><br>
    <div>
        {{# each items }}
            <article class="item">
                <div><p>ID movimento: {{ this.movimento_id}}</p></div>
                <div><p>Data: {{ this.Data}}</p></div>
                <div><p>Causale: {{ this.Causale}}</p></div>
                <div><p>Valuta: {{ this.Valuta}}</p></div>
                <div><p>Importo: {{ this.Importo}} €</p></div>
            </article>
        {{/each}}

    </div>
</section>
</div>


<div class="col-md-4 col-md-offset-4">
    <h1>Sign Up</h1>
    <form action="/insert" method="post">
        <div class="form-group">
            <label for="Data">Data</label>
            <input type="text" id="Data" name="Data" class="form-control">
        </div>

        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>


</div>
-->



<head>

    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
<h1>Ecco i tuoi movimenti bancari</h1>
<div align="left">

<section class="get">
    <h3>Risultati</h3>
    <a href="/get-mov">Aggiorna</a><br><br>
</section>


<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID movimento</th>
            <th>Data</th>
            <th>Causale</th>
            <th>Valuta</th>
            <th>Importo</th>
        </tr>

        </thead><br>
        {{# each items }}
        <tbody>
        <tr>

            <td>{{ this.movimento_id}}</td>
            <td>{{ this.Data}}</td>
            <td>{{ this.Causale}}</td>
            <td>{{ this.Valuta}}</td>
            <td>{{ this.Importo}}</td>

        </tr>


        </tbody>
        {{/each}}
    </table>
</div>
</div>
</body>


</html>